@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Open+Sans:wght@400;600;800&display=swap");
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  box-sizing: border-box; }

.header {
  background-color: black;
  /* position: fixed; */
  top: 0;
  width: 100%; }
  .header a {
    color: white;
    text-decoration: none;
    transition-duration: 0.4s; }
    .header a:hover {
      color: white;
      text-shadow: white 2px 2px 5px; }
  .header__primary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #5f5f5f solid; }
    .header__primary img {
      text-align: left;
      margin-top: 10PX; }
      @media screen and (max-width: 890px) {
        .header__primary img {
          text-align: left;
          margin-top: 10PX;
          margin-bottom: 10px;
          max-width: 90%;
          max-height: 70px; } }
    @media screen and (max-width: 556px) {
      .header__primary {
        display: flex;
        flex-direction: column;
        width: 100%; } }
  .header__buscador {
    width: 40%; }
    .header__buscador form input {
      appearance: none;
      fill: black;
      font-size: 16px;
      width: 100%;
      padding: 6px;
      font-family: 'Montserrat', sans-serif;
      color: black;
      background-color: white;
      border: 0;
      border-radius: 10px;
      transition-duration: 0.3s; }
      .header__buscador form input::placeholder {
        transition-duration: 0.5s; }
      .header__buscador form input:hover::placeholder {
        font-size: 18px;
        font-weight: 600;
        color: #333; }
      @media screen and (max-width: 556px) {
        .header__buscador form input {
          appearance: none;
          fill: black;
          font-size: 16px;
          width: 100%;
          padding: 6px;
          display: block;
          font-family: 'Montserrat', sans-serif;
          color: black;
          background-color: white;
          border: 0;
          border-radius: 10px; } }
    @media screen and (max-width: 890px) {
      .header__buscador {
        width: 30%; } }
    @media screen and (max-width: 556px) {
      .header__buscador {
        width: 90%; } }
  .header__utilities {
    display: flex;
    flex-direction: row;
    margin-left: 20px; }
    .header__utilities div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
      align-items: center;
      padding: 0 15px; }
    .header__utilities svg {
      fill: white;
      height: 40px;
      transition-duration: 0.4s; }
      .header__utilities svg:hover {
        height: 45px; }
        @media screen and (max-width: 890px) {
          .header__utilities svg:hover {
            height: 30px; } }
      @media screen and (max-width: 890px) {
        .header__utilities svg {
          fill: white;
          height: 25px; } }
    @media screen and (max-width: 890px) {
      .header__utilities span {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1px; } }
    @media screen and (max-width: 556px) {
      .header__utilities {
        width: 100%;
        margin: 10px 0;
        flex-direction: row;
        justify-content: space-around; } }
  .header__navBar ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    justify-content: center; }
    @media screen and (max-width: 556px) {
      .header__navBar ul {
        display: flex;
        height: 44px;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        justify-content: center;
        align-items: center; } }
  .header__navBar li {
    padding: 10px 10px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px; }
    @media screen and (max-width: 556px) {
      .header__navBar li {
        padding: 5px 5px;
        font-weight: 500;
        font-size: 13px;
        letter-spacing: 1px; } }

.footer {
  margin-top: 20px;
  padding-top: 50px;
  color: black;
  background: rgba(0, 0, 0, 0.1); }
  .footer a {
    color: black;
    text-decoration: none; }
    .footer a:hover {
      color: black;
      text-shadow: black 2px 2px 5px; }
  .footer__superior {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px 0 15px;
    justify-content: space-between; }
  .footer__categoria ul {
    list-style: none;
    padding: 0;
    margin: 0 0 35px; }
  .footer__categoria li {
    display: block;
    margin-bottom: 20px; }
  .footer__contacto ul {
    list-style: none;
    padding: 0; }
  .footer__contacto li {
    display: flex;
    align-items: center;
    margin-bottom: 20px; }
  .footer__contacto svg {
    height: 24px;
    margin-right: 10px; }
  .footer__redes a {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 0 10px 10px 0;
    text-align: center;
    vertical-align: top;
    border-radius: 50%;
    background-color: black; }
  .footer__redes svg {
    height: 30px;
    fill: white;
    display: inline-block;
    /* margin-top para centrar svg en circulo contenedor */
    margin-top: 7.5px; }
  .footer__pagos {
    border-top: 1px #969696 solid;
    padding: 30px;
    display: flex;
    flex-wrap: wrap; }
    .footer__pagos img {
      width: 40px; }
  .footer__pagosTitulo {
    padding-right: 30px;
    margin-left: -15px; }
  .footer__legal {
    padding: 20px 0;
    font-size: 14px;
    background-color: black;
    color: white;
    padding-left: 20px; }
    .footer__legal p {
      margin: 0;
      text-align: center; }
  .footer h4 {
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700; }

.main__slider {
  width: 100%;
  /* height: 700px; */
  height: auto;
  margin: auto;
  overflow: hidden; }
  .main__slider ul {
    display: flex;
    padding: 0;
    width: 500%;
    animation: cambio 20s infinite alternate;
    animation-timing-function: linear; }

@keyframes cambio {
  0% {
    margin-left: 0; }
  15% {
    margin-left: 0; }
  20% {
    margin-left: -100%; }
  35% {
    margin-left: -100%; }
  40% {
    margin-left: -200%; }
  55% {
    margin-left: -200%; }
  60% {
    margin-left: -300%; }
  75% {
    margin-left: -300%; }
  80% {
    margin-left: -400%; }
  100% {
    margin-left: -400%; } }
  .main__slider li {
    width: 100%;
    list-style: none; }
  .main__slider img {
    width: 100%; }

.carrousel-item {
  width: 80%; }

.cards-wrapper {
  display: flex;
  width: 80%;
  margin: 30px auto; }

.card {
  margin: 0 .5em;
  width: calc(100%/3); }

.image-wrapper {
  margin: 0 auto; }
  .image-wrapper img {
    max-width: 100%;
    max-height: 100%; }

.card-text {
  text-align: center;
  font-size: 20px;
  font-weight: 600; }

.card-title {
  text-align: center;
  font-size: 16px; }

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.main__tituloCentrado {
  padding-top: 30px;
  text-align: center; }

.main__parrafos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 30px; }
  .main__parrafos p {
    text-align: center;
    padding: 10px;
    max-width: 768px; }

.main__imgClientes img {
  padding-top: 20px;
  width: 100%; }

.centrar {
  justify-content: center;
  align-content: center;
  text-align: center; }

.grid-container-contacto {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "nombreForm nombreForm" "inputName inputApellido" "edadForm correoForm" "inputDate inputMail" "telefonoForm telefonoForm" "inputTel checkPregunta" "preguntaCheck preguntaCheck" "inputSubmit inputSubmit" "inputReset inputReset" "map map";
  justify-items: start;
  align-items: center;
  justify-content: center;
  margin: 10px; }

.nombreForm {
  grid-area: nombreForm; }

.inputName {
  grid-area: inputName; }

.inputApellido {
  grid-area: inputApellido; }

.edadForm {
  grid-area: edadForm; }

.correoForm {
  grid-area: correoForm; }

.inputDate {
  grid-area: inputDate; }

.inputMail {
  grid-area: inputMail; }

.telefonoForm {
  grid-area: telefonoForm; }

.inputTel {
  grid-area: inputTel; }

.checkPregunta {
  grid-area: checkPregunta; }
  @media screen and (max-width: 880px) {
    .checkPregunta {
      padding-left: 10px; } }

.preguntaCheck {
  grid-area: preguntaCheck; }

.inputSubmit {
  grid-area: inputSubmit; }

.inputReset {
  grid-area: inputReset; }

.map {
  grid-area: map; }

.grid-container-contacto div {
  padding-top: 10px; }

.grid-container-contacto input {
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
  transition-duration: 0.4s; }

.grid-container-contacto input:hover {
  border: 1.5px solid black; }

input[type="checkbox"] + label:before {
  content: "";
  width: 26px;
  height: 26px;
  float: left;
  margin: 0.5em 0.5em 0 0;
  border: 2px solid #ccc;
  background: #fff; }

input[type="checkbox"]:checked + label:before {
  border-color: #25d366; }

input[type="checkbox"]:checked + label:after {
  content: "";
  width: 12px;
  height: 6px;
  border: 4px solid #25d366;
  float: left;
  margin-left: -1.65em;
  border-right: 0;
  border-top: 0;
  margin-top: 1.05em;
  transform: rotate(-55deg); }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label {
  font-weight: bold;
  line-height: 3em;
  color: #ccc; }

input[type="checkbox"]:checked + label {
  color: #25d366; }

iframe {
  width: 800px;
  height: 800px; }
  @media screen and (max-width: 880px) {
    iframe {
      width: 400px;
      height: 400px; } }
  @media screen and (max-width: 512px) {
    iframe {
      width: 300px;
      height: 300px; } }

.main__sectionPreguntas {
  margin: 30px auto; }

.pagProductos .col {
  margin-top: 20px; }

.card {
  transition: all 0.2s ease;
  cursor: pointer; }

.card:hover {
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.08); }

h1, h2 {
  font-family: 'Montserrat', sans-serif; }

h2 {
  font-weight: 600;
  margin: 10px 30px; }

.btn {
  background-color: black;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  --bs-btn-color: white; }

.btn:hover {
  background-color: gray;
  /* Green */
  color: white; }

.pageActive {
  font-weight: 650; }

body::-webkit-scrollbar {
  width: 5px;
  background: black; }

body::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, black 0%, rgba(255, 255, 255, 0.6) 50%, black 100%);
  border-radius: 4px; }
