@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Open+Sans:wght@400;600;800&display=swap');
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

@import './sections/_reset';
@import './sections/_header';
@import './sections/footer';
@import './sections/index';
@import './sections/quienesSomos';
@import './sections/contacto';
@import './sections/productos-preguntas';


h1 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    @extend h1;
    font-weight: 600;
    margin: 10px 30px;
}

.btn {
    background-color: black;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    --bs-btn-color: white;
}

.btn:hover {
    background-color: gray;
    /* Green */
    color: white;
}

.pageActive {
    font-weight: 650;
}

body{
    &::-webkit-scrollbar{
        width: 5px;
        background: black;
    }
    &::-webkit-scrollbar-thumb{
        //background: #969696;
        //background: linear-gradient(0deg, white, black);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0.6) 50%, rgba(0,0,0,1) 100%);
        border-radius: 4px;
    }
}