* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}